In [5]:
def eurostat(url):
    from pyjstat import pyjstat
    from collections import OrderedDict
    
    # read from json-stat
    dataset = pyjstat.Dataset.read(url)
    
    # write to dataframe
    df = dataset.write('dataframe')
    
    return df

#example from query builder
url = 'http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/tgs00045?precision=1&unit=THS_HD&animals=A2300F'

In [8]:
url = 'http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/tin00173?precision=1&unit=PC&accommod=BEDPL&shortLabel=1'

In [9]:
eurostat(url)

,accommod,unit,geo,time,value
0,Bedplaces,Percentage,Austria,2019M03,53.4
1,Bedplaces,Percentage,Austria,2019M04,34.8
2,Bedplaces,Percentage,Austria,2019M05,33.5
3,Bedplaces,Percentage,Austria,2019M06,48.3
4,Bedplaces,Percentage,Austria,2019M07,59.3
...,...,...,...,...,...
475,Bedplaces,Percentage,Kosovo (under United Nations Security Council ...,2019M10,15.8
476,Bedplaces,Percentage,Kosovo (under United Nations Security Council ...,2019M11,15.7
477,Bedplaces,Percentage,Kosovo (under United Nations Security Council ...,2019M12,15.5
478,Bedplaces,Percentage,Kosovo (under United Nations Security Council ...,2020M01,NaN
479,Bedplaces,Percentage,Kosovo (under United Nations Security Council ...,2020M02,NaN

In [12]:
tourism = eurostat(url)

In [13]:
type(tourism)

pandas.core.frame.DataFrame

In [17]:
tourism.groupby("value").agg({"value":"sum"})

       value
value
11.1    11.1
12.7    12.7
14.0    14.0
14.3    14.3
15.5    15.5
...      ...
87.0    87.0
87.7    87.7
88.4    88.4
93.2    93.2
98.0    98.0

[325 rows x 1 columns]

In [16]:
tourism

,accommod,unit,geo,time,value
0,Bedplaces,Percentage,Austria,2019M03,53.4
1,Bedplaces,Percentage,Austria,2019M04,34.8
2,Bedplaces,Percentage,Austria,2019M05,33.5
3,Bedplaces,Percentage,Austria,2019M06,48.3
4,Bedplaces,Percentage,Austria,2019M07,59.3
...,...,...,...,...,...
475,Bedplaces,Percentage,Kosovo (under United Nations Security Council ...,2019M10,15.8
476,Bedplaces,Percentage,Kosovo (under United Nations Security Council ...,2019M11,15.7
477,Bedplaces,Percentage,Kosovo (under United Nations Security Council ...,2019M12,15.5
478,Bedplaces,Percentage,Kosovo (under United Nations Security Council ...,2020M01,NaN
479,Bedplaces,Percentage,Kosovo (under United Nations Security Council ...,2020M02,NaN